<div class="btn-group" role="group" aria-label="..." >

  <button type="button" class="btn btn-default">
  	<%=link_to_unless_current "", category_notes_note_path(note_category_id = 1), :style=>"color:#808080;font-size:18px;", :class=>"fa fa-thumbs-up", remote: true %>
  </button>

  <button type="button" class="btn btn-default">
  	<%=link_to "ALL", notes_path, :style=>"color:black;" %>
  </button>
    
  <button type="button" class="btn btn-default">
  	<%=link_to_unless_current "", category_notes_note_path(note_category_id = 2), :style=>"color:#808080;font-size:18px;", :class=>"fa fa-thumbs-down", remote: true %>
  </button>

</div>
