<div class="note-content">

<div class="note-content-sub">

    <a>
    	<%=link_to image_tag(note.photo.url(:thumb), {:style=> "border-radius:5px 5px 0px 0px;width:100%; height:45%;"}), note_path(note) %>
    </a>
     <ul>
    <li>
    	<span class="note-title">
    	<%=link_to note.title, note_path(note), class:"grey" %>
    	</span>
    </li>
    <li>
    	<%=link_to note.content.truncate(150), note_path(note), class:"black" %>
    </li>
 </ul>


 <div class="user-image-position">
 	<a><%=link_to image_for(note.user), user_path(note.user) %></as>
 	<a><%=link_to note.user.name, user_path(note.user), :style=>"color:black;" %></a>
 </div>


 <div class="user-like-position">
<%=link_to note.likes.count, liking_users_note_path(note.id), class: "fa fa-thumbs-o-up", :style=>"color:#808080;" %>
 <a style ="color:#808080; font-size:12px;">コメント <%= note.posts.count %>件</a>
 </div>

<div class="note-content-icon"> 
  <div id="like-link" >
  <% if user_signed_in? && !current_user?(note.user) %>
   <%= render 'likes/like_links', note:note %>
<% end %>
 </div>
</div>

<div class="time">
  <%= note.created_at.to_formatted_s(:without_second) %>
</div>

</div>

</div>

