  <p>
<%= form_for([@micropost, @micropost.opinions.build]) do |f| %>
  
    <%= f.text_area :body, class: "form-control", :style=>"width:100%; height:50px; border-radius:5px; border-color:#808080;" %>
  </p>

  <p>
    <%= f.submit "コメントする", class: "btn btn-primary", :style=>"background-color:#3b5998;" %>
　</p>

  </p>
<% end %>