<div class="opinion-list" style="border-bottom:1px dotted #808080; width:100%;">

<table style="position:relative; margin:0px;" >

<tr>

<th style="font-size:9px;">
 <ul>
 	<li style="position:absolute; top:15px; left:5px; text-align:center;">
 	<%= image_tag(opinion.user) %><br>
	<% if user_signed_in? && current_user?(opinion.user) %>
	<%= link_to 'Destroy', [opinion.micropost, opinion],
	               method: :delete,
	               data: { confirm: 'Are you sure?' } %>
	<% end %>
 	</li>
 </ul>
</th>

<td style="padding:15px 0px 0px 70px; width:100%; ">
	<ul>
	 <li style="padding-bottom:15px; font-size:20px;color:#000080;"><%= opinion.user.name %></li>
	 <li style="font-size:15px; padding-bottom:25px;"><%= simple_format(opinion.body) %></li>
    </ul>
</td>

</tr>

</table>

</div>