
<div class="comment-list" style="border-bottom:1px dotted #808080; width:100%;">

<table style="position:relative; margin:0px;" >

<tr>

<th style="font-size:9px;">
 <ul>
 	<li style="position:absolute; top:10px; left:5px; text-align:center;">
 	<%= image_for(comment.user) %><br>
	<% if user_signed_in? && current_user?(comment.user) %>
	<%= link_to 'Destroy', [comment.article, comment],
	               method: :delete,
	               data: { confirm: 'Are you sure?' } %>
	<% end %>
 	</li>
 </ul>
</th>

<td style="padding:10px 0px 0px 70px; width:100%;">
	<ul>
	 <li style="padding-bottom:5px; font-size:20px;color:#000080;"><%= comment.user.name %></li>
	 <li style="font-size:15px; padding-bottom:10px;"><%= simple_format(comment.body) %></li>
    </ul>
</td>

</tr>

</table>

</div>