<table class="post-list">
<tr>
<td style="font-size:9px; text-align:center; padding-right:10px">
   <%= image_for(comment.user) %><br>
   <%= comment.user.name %>
</td>
<td style="width:100%; font-size:13px;">
   <%= comment.body %>
</td>
</tr>

<tr>	
<% if current_user?(comment.user) %>
  <%= link_to 'Destroy', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
<% end %>
</tr>

</table>