  <p>
<%= form_for([@article, @article.comments.build]) do |f| %>
  
    <%= f.text_area :body, class: "form-control", :style=>"width:70%; height:50px; border-radius:5px; border-color:#808080;" %>
  </p>

  <p>
    <%= f.submit "Pickする", class: "btn btn-primary", :style=>"background-color:#3b5998;" %>
  </p>
<% end %>