<div class="row">

  <div class="col-lg-2 col-xs-0" style="position:fixed; z-index:5; left:0px; padding:0px; background-color:white;">

     <%= render "sidebar" %>

  </div>

  <div class="col-lg-2 col-xs-0" >
  </div>


  <div class="col-lg-10 col-xs-12" style="background-color:#F0F0F0;">

      <div class="row">

         <%= render "slideshow" %>

      </div> 

      <div class="article-contents">

       <%= render "article" %>

      </div>

      <% if user_signed_in? && current_user.id == 7 %>
              <%= link_to 'New Article', new_article_path %>
      <% end %>

  </div>

</div>


