<div class="row">

  <div class="col-md-2" style="padding:0px;">

   <% if user_signed_in? %>
     <%= render "sidebar" %>
   <% end %>

  </div>

  <div class="col-md-10">

      <div class="row">
       <%= render "slideshow" %>
      </div> 

      <div class="article-contents">
       <%= render "article" %>
      </div>

        <%= link_to 'New Article', new_article_path %>

  </div>

</div>

</div>

