<div class="row" style="margin:0px;">

  <div class="col-md-2 col-xs-0" style="position:fixed; z-index:5; left:0px; padding:0px;">

     <%= render "sidebar" %>

  </div>

  <div class="col-md-2 col-xs-0" >
  </div>


  <div class="col-md-10 col-xs-12" style="background-color:#F0F0F0; padding:0px;">

      <div class="row">

         <%= render "slideshow" %>

      </div> 

      <div class="article-contents">

       <%= render "article" %>

      </div>

      <div class="pagenation_bottom" style="clear:left;text-align:center;padding:10px 0px;">
        <li><%=link_to "さらに記事を見る", article_rest_article_path(:id), class:"grey" %></li>
      </div>
      

  </div>

</div>


