<div class="row">

  <div class="col-lg-2 " style="position:fixed; z-index:5; left:0px; padding:0px; background-color:white;">

     <%= render "sidebar" %>

  </div>

  <div class="col-lg-2" >
  </div>


  <div class="col-lg-10 ">

      <div class="row">
       <%= render "slideshow" %>
      </div> 

      <div class="article-contents">

       <%= render "article" %>

      </div>

        <%= link_to 'New Article', new_article_path %>

  </div>

</div>


