<div class="row" style="margin:0px;">

  <div class="col-md-2 col-xs-0" style="position:fixed; z-index:5; left:0px; padding:0px; background-color:white;">

     <%= render "sidebar" %>

  </div>

  <div class="col-md-2 col-xs-0" >
  </div>


  <div class="col-md-10 col-xs-12" style="background-color:#F0F0F0; padding:0px;">

      <div class="article-contents">

       <%= render 'article_rest' %>

      </div>


<div class="pagenation_bottom" style="clear:left;text-align:center;">

  <%= will_paginate @articles_rest, renderer: BootstrapPagination::Rails %>

  <p><%= link_to 'Back', articles_path %></p>

	</div>

  </div>

</div>