<% @user ||= current_user %>

  <ul>
  
    <li style="border-right:1px solid #808080;">
     <a class="stat" >
      <%=link_to @user.followers.count, followers_user_path(@user), id:"followers" , :style=>"color:#808080;" %>
     </a><br>
    followers
    </li>

    <li>
     <a class="stat" >
       <%=link_to @user.following.count, following_user_path(@user), id:"following", :style=>"color:#808080;" %>
     <br>
       following
    </li>
    
  </ul>
