 <tr>
        <td><%=link_to image_for(user), user %></td>
        <td class="user-index-name"><%=link_to user.name, user %></td>
        <td class="user-index-email"><%=link_to user.email, user %></td>
      </tr>
