<a id="notice"><%= notice %></a>

<div class="row">

  <div class="col-lg-2" >

    <%= render "sidebar" %>

  </div>

  <div class="col-lg-10" >

    <div class="contents">

      <%= render 'articles/article_user' %>

    </div>

  </div>

</div>