
<div class="row" style="background-color:#F0F0F0; margin:0px;">

  <div class="col-md-2" style="padding:20px 5px;">

    <%= render "sidebar" %>

  </div>

  <div class="col-md-10" style="padding:0px;">

     <a id="notice"><%= notice %></a>

    <%= render @notes %>

  </div>

</div>