
<div class="row" style="background-color:#F0F0F0;">

  <div class="col-lg-2" >

    <%= render "sidebar" %>

  </div>

  <div class="col-lg-10" >

    <div class="contents">

     <a id="notice"><%= notice %></a>

    <%= render @notes %>

    </div>

  </div>

</div>