
  <p>
<%= form_for([@note, @note.posts.build]) do |f| %>
  
    <%= f.text_area :body, :style=>"width:500px; height:50px; border-radius:5px; border-color:#808080;" %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
