<table class="post-list">

<tr>
<td style="text-align:center;">
<% if current_user?(post.user) %>
  <%= link_to 'Destroy', [post.note, post],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
<% end %>
</td>
</tr>

<tr>
<td style="font-size:9px; text-align:center; margin:0 auto; padding-right:0px 10px">
   <%= image_for(post.user) %><br>
   <%= post.user.name %>
</td>
<td style="width:90%; font-size:13px;">
   <%= post.body %>
</td>
</tr>

</table>