
<div class="row" style="margin:0px;">

  <div class="col-md-2" style="position:fixed; z-index:2; left:0px; padding:0px; background-color:white;">

   <%= render "sidebar" %>

  </div>

  <div class="col-md-2">
  </div>

  <div class="col-md-10" style="background-color:#F0F0F0; padding:0px;">

    <div class="jumbotron">

  	  	<div class="under-jumbotron">

  	  	<h1>Theme of the week</h1>

        <% @microposts.limit(1).offset(0).each do |micropost| %>

  	  	<p>今週のテーマは<strong>「<%= micropost.title %>」です。</strong></p><br><br>
  	  	<p><a><%=link_to "詳細を見る", micropost_path(micropost), class:"btn btn-info btn-lg", :role=>"button", :style=>"margin:0 auto;" %></a></p>

        <% end %>

  	    </div>

    </div>

      <%= render @microposts %>

  </div>


</div>

