
<div class="row">

  <div class="col-md-2" style="position:fixed; z-index:5; left:0px; padding:0px; background-color:white;">

   <%= render "sidebar" %>

  </div>

  <div class="col-md-2" >
  </div>

  <div class="col-md-10" style="background-color:#F0F0F0; padding:0px;">

    <div class="jumbotron">

  	  	<div class="under-jumbotron">

  	  	<h1>Theme of the week</h1>
  	  	<p>今週のテーマは<strong>「<%= @microposts.last.title %>」です。</strong></p><br><br>
  	  	<p><a class="btn btn-info btn-lg" role="button", style="margin:0 auto;">詳細を見る</a></p>

  	    </div>

    </div>

      <%= render @microposts %>

  </div>


</div>

