
<div class="row">

  <div class="col-lg-2 col-xs-0" style="position:fixed; z-index:5; left:0px; padding:0px; background-color:white;">

   <%= render "sidebar" %>

  </div>

  <div class="col-lg-2 col-xs-0" >
  </div>

  <div class="col-lg-10 col-xs-12" style="background-color:#F0F0F0; padding:0px;">

  <div class="jumbotron">

	  	<div class="under-jumbotron">

	  	<h1>Theme of this week</h1>
	  	<p>今週のテーマは「⚪️⚪️です。」</p><br><br>
	  	<p><a class="btn btn-info btn-lg" role="button">詳細を見る</a></p>

	    </div>

  </div>

    <%= render @microposts %>
    <p style="text-align:center;"><%= link_to 'New Micropost', new_micropost_path %></p>

  </div>


</div>

