
<div class="row" style="background-color:#F0F0F0;">

   <div class="col-md-2 col-xs-0" style="position:fixed; z-index:5; left:0px; padding:0px; background-color:white;">

   <%= render "sidebar" %>

   </div>

   <div class="col-md-2 col-xs-0">
   </div>

   <div class="col-md-7 col-xs-12" style="background-color:#F0F0F0;">

    <%= render "show" %>


   </div>	


<div class="col-md-3 col-xs-12">

<% @random_microposts.limit(2).each do |random_micropost| %>

<div class="random-article" >

<ul>

<li><%=link_to image_tag(random_micropost.picture, {class:"random-article-photo"}), micropost_path(random_micropost) %></li>

<li style="padding:5px; background-color:white;">
<%= link_to random_micropost.title.truncate(50), micropost_path(random_micropost), :style=>"font-size:20px;", class:"black" %>
</li>

</div>

<% end %>

</div>

</div>